@using CVSiteWithMVC.Models.Entity;
@model List<tbl_skills>

@{
    ViewBag.Title = "Yetenekler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string bar = "";
    string rate = "";
}

<h2>Yetenek Listesi</h2>
<hr />

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listem</h3>
                            </div>

                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Yüzde</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.skl_rate >= 0 && item.skl_rate <= 50)
                                            {
                                                bar = "progress-bar bg-danger";
                                                rate = "badge bg-danger";
                                            }
                                            else if (item.skl_rate >= 51 && item.skl_rate <= 70)
                                            {
                                                bar = "progress-bar bg-warning";
                                                rate = "badge bg-warning";
                                            }
                                            else if (item.skl_rate >= 71 && item.skl_rate <= 85)
                                            {
                                                bar = "progress-bar bg-primary";
                                                rate = "badge bg-primary";
                                            }
                                            else if (item.skl_rate >= 86 && item.skl_rate <= 100)
                                            {
                                                bar = "progress-bar bg-success";
                                                rate = "badge bg-success";
                                            }
                                            <tr>
                                                <td>@item.skl_id</td>
                                                <td>@item.skl_skills</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@bar" style="width: @item.skl_rate%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@rate">@item.skl_rate%</span></td>
                                                <td><a href="#" class="btn btn-warning">Düzenle</a></td>
                                                <td><a href="#" class="btn btn-danger">Sil</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn btn-info">Yeni Yetenek Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
