@model List<CVSiteWithMVC.Models.Entity.tbl_experience>
@{
    ViewBag.Title = "Deneyimler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Deneyim Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Alt Başlık</th>
            <th>Açıklama</th>
            <th>Tarih</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.exp_id</td>
                <td>@item.exp_title</td>
                <td>@item.exp_subtitle</td>
                <td>@item.exp_description</td>
                <td>@item.exp_date</td>
                <td><a href="/Experience/UpdateExperience/@item.exp_id" class="btn btn-warning">Düzenle</a> </td>
                <td><a href="/Experience/DeleteExperience/@item.exp_id" class="btn btn-danger">Sil</a> </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Experience/AddExperience" class="btn btn-primary">Yeni Deneyim Ekle</a>